
/*body {
    background-color: grey;
}*/

.display-none {
    display: none !important;
}

.overlay-add-contact-outer-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
}

.overlay-add-contact {
    width: 1221px;
    height: 592px;
    /*top: -2901px;
    left: 42px;*/
    position: absolute;
    border-radius: 30px;
    background-color: #FFFFFF;
    z-index: 30 !important;
}

.close-div {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 48px;
    left: 1142px;
    border-radius: 56;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 2s;
}

.close-div:hover {
    cursor: pointer;
    border: 1.5px solid rgb(36, 36, 36);
    background-color: #efeeee;
}

.close-img {
    width: 24px;
    height: 24 px;
    top: 4px;
    left: 4px;
}

.person-img-group13 {
    position: absolute;
    width: 120px;
    height:120px;
    top: 204px;
    left: 550px;
    border-radius: 70px;
    border: 3px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
}

.person-img {
    width: 64px;
    height: 64px;
}

.cancel-create-contact {
    position: absolute;
    width: 364px;
    height:57px;
    top: 400px;
    left: 742px;
    gap: 24px;
    display: flex;
}

.edit-contact {
    position: absolute;
    width: 364px;
    height:57px;
    top: 400px;
    left: 742px;
    gap: 24px;
    display: flex;
}

.cancel-btn {
    display: flex;
    width: 126px;
    height: 56px;
    border-radius: 10px;
    border: 1px black solid;
    padding: 16px;
    gap: 4px;
    background-color: white; 
}

.delete-btn {
    display: flex;
    width: 126px;
    height: 56px;
    border-radius: 10px;
    border: 1px black solid;
    padding: 16px;
    gap: 4px;
    background-color: white; 
}

/*.cancel-btn:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
}

.cancel-btn:hover .cancel-btn-img {
    color: white !important;
}*/

.cancel-btn-txt {
    width: 66px;
    height: 24px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.cancel-btn-img {
    width: 24px;
    height: 24px;
    top: 6.76px;
    border: 2px;
}

.create-contact-btn {
    width: 214px;
    height: 57px;
    border-radius:10px;
    gap: 4px;
    display: flex;
    align-items: center;
    background-color: #2A3647;
}

.overlay-add-contact 

.create-contact-txt {
    width: 154px;
    height: 25px;
    font-family: inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: #FFFFFF;
}

.save-edits-contact-btn {
    width: 111px;
    height: 57px;
    border-radius:10px;
    gap: 4px;
    display: flex;
    align-items: center;
    background-color: #2A3647;
}

/*.create-contact-bounding-box-img {
    width: 24px;
    height: 24px;
    top: 16.5px;
    left: 174px;
}*/

.create-contact-img {
    width: 15.49px;
    height: 11.22px;
    top: 22.88px;
    /*left: 178.24px;*/
    left: 322px;
}

.save-edits-contact-img {
    width: 15.49px;
    height: 11.22px;
    top: 22.88px;
    /*left: 178.24px;*/
    left: 322px;
}


/* Add contacts textfield */
.add-contact-textfileds {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 422px;
    height: 215px;
    top: 137px;
    left: 742px;
    gap: 32px;
}

.inputfield-1-around {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
    height: 50px;
    gap:8px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    transition: outline 100ms;
}

.inputfield-1-around:active, .inputfield-1-around:hover {
    outline: 1.6px solid #29ABE2;
}

.inputfield-1 {
    position: absolute;
    width: 380px;
    height: 24px;
    /*width: 422px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;*/
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: none;
    outline: none;
}

::placeholder {
    color: #D1D1D1;
}

.txt-img-div {
    position: absolute;
    width: 380px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.txt-div {
    width: 56px;
    height: 24px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
}

.inputfield-img-div {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 360px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.inputfield-img {
    position: absolute;
    width: 16px;
    height: 16px;
    /* top: 4px; 
    left: 360px;
    margin-left: 21px;*/
}

.inputfield-mail-img {
    width: 20px;
    height: 16px;
}

.inputfield-phone-img {
    width: 18px;
    height: 18px;
}


/* Contact-Sidebar*/
.contact-sidebar {
    width: 467px;
    height: 594px;
    gap: 12px;
    background-color: #2A3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 48px;
}

.contact-sidebar-txt-div {
    width: 371px;
    height: 129px;
    gap: 16px;
    position: absolute;
    top: 265px;
    display: flex;
    flex-direction: column;
}

.contact-sidebar-txt-1 {
    width:366px;
    height: 73px;
    font-family: inter;
    font-weight: 700;
    /*font-size: 61px;*/
    font-size: 59px;
    line-height: 73.2px;
    color: white;
}

.contact-sidebar-txt-2 {
    width: 371px;
    height: 32px;
    font-family: inter;
    font-weight: 400;
    font-size: 26px;
    line-height: 32.4px;
    color: #FFFFFF;
}

.contact-sidebar-graphic-img {
    border: 3px;
    color: #29ABE2;
}

.contact-sidebar-logo-div {
    width: 55.6px;
    height: 66.48px;
    position: absolute;
    top: 170px;
}











