body{
    background-color:#F6F7F8 ;
    font-family: 'Inter', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
.s21{
    font-size: 21px;
}
.s16{
    font-size: 16px;
}
.s20{
    font-size: 20px;
}
.s24{
    font-size: 24px;
}
.s47{
    font-size: 47px;
}
.fw400{
    font-weight: 400;
}
.fw500{
    font-weight: 500;
}
.fw700{
    font-weight: 700;
}
.colord1d1d1{
    color: #d1d1d1;
}
.gap16{
    display: flex;
    gap: 16px;
}
h1{
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}
.a-footer{
    color: #a8a8a8;
}
.a-footer:hover{
    color: #29ABE2;
    font-weight: 700;
}
.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding-top: 30px;
}
.sing-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 279px;
}
.dark-btn{
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    border-style: none;
    transition-duration: 0.2s;
    border-style: none;
    cursor: pointer;
}
.btn-sign-up{
    width: 91px;
    height: 49px;
    cursor: pointer;
}
.dark-btn:hover{
    background-color: #29ABE2;
    border-color:#29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.dark-btn:active{
    background-color:#091931;
}
.btn-seconday-wo-icon{
    border-style: 1px solid #2A3647;
    color: #2a3647;
    border-radius: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.btn-seconday-wo-icon:hover{
    color: #29ABE2;
    border-color: #21ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.btn-seconday-wo-icon:active{
    color: #091931;
    border-color: #091931;
}
.login-btn{
    width: 110px;
    height: 48px;
}
.login-gst-btn{
    width: 177px;
    height: 48px;

}
.login-btn-area{
    display: flex;
    gap: 35px;
}
.login-frame{
    top: 180px;
    width: 652px;
    height: 493px;
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-footer{
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 246px;
    display: flex;
    justify-content: space-between;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    width: 422px;

}
.input-login { 
    position: relative; 
}
.input-login input { 
    display:block; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    width:422px; 
    height: 48px;

    padding: 15px 21px 12px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
.input-login input:focus{
    color: black;
}
.input-login img { 
    position: absolute; 
    top: 15px; 
    right: 21px 
}
.input-subtask { 
    position: relative; 
}
.input-subtask input { 
    display:block; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    width:440px; 
    height: 48px;
    font-size: 20px;
    padding: 15px 21px 12px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
.input-subtask input:focus{
    color: black;
}

.input-subtask-img{
    position: absolute; 
    top: 12px; 
    right: 21px;
}
.subtaskIcons img { 
    cursor: pointer;
}
#addSubtask{
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
}
.subtask{
    padding: 2px 5px 2px 21px;
}

.subtasks-focus{
    background-color: white;
    border-radius: 10px;
}
.subtask:hover{
    background-color: gray;
}
.subtaskIcons{
    position: absolute; 
    top: 12px; 
    right: 21px;

}
.remember{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sign-up-head{
    display: flex;
    align-items: center;
}
.sign-up-head img{
    position: relative;
    left: -100px;
}
.sign-in-frame{
    top: 180px;
    width: 598px;
    height: 630px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2a3647;
    border-radius: 100%;
    width: 56px;
    height: 56px;
}
.circle p{
    color: #29ABE2;
    font-weight: 700;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-title{
    position: absolute;
    left: 300px;
}
.header-right{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-right: 30px;
}
nav{
    background-color: #2a3647;
    width: 232px;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.link{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    color: white;
    width: 100%;
    padding-left: 56px;
    cursor: pointer;
}
.link img{
    width: 30px;
    height: 30px;
}
.link:hover{
    background-color: #091931;
}

.nav-list{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    gap: 8px;
}
.site-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 10%;
    gap: 8px;
    width: 130px;
}
.site-footer a{
    color: #a8a8a8;
}
.site-footer a:hover{
    color: #29ABE2;
    font-weight: 700;
}

.content-header{
    display: flex;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 320px;
    gap: 30px;
    align-items: center;
}

.summary-page{
    position: absolute;
    left: 320px;
    top: 300px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 300px;
    left: 320px;
    gap: 30px;
    align-items: center;
}

.row{
    display: flex;
    box-sizing: content-box;
    width: 562px;
    justify-content: space-between;
    align-items: center;
}

.card{
    height: 168px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.card:hover{
    background-color: #2a3647;
    color: #ffffff;
    transform: scale(1.1);
}

.first-row-card{
    width: 264px;
}

.secon-row-card{
    width: 560px;
}

.thirs-row-card{
    width: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.p-hello{
    font-size: 47px; 
    font-weight: 500; 
    margin: 0;
}
.p-hello-name{
    font-size: 64px; 
    font-weight: 700; 
    color: #29ABE2; 
    margin: 0;
}
.p-headline{
    font-size: 64px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.p-summary{
    font-size: 20px;
    margin: 0;
    text-align: center;
}
.add-task{
    display: flex;
    gap: 40px;
}

.add-task-page{
    position: absolute;
    left: 320px;
    top: 300px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.add-task-box{
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 5px;
    padding-bottom: 20px;

}
.add-task-box-field{
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 8px;
    padding-left: 12px;
    font-family: 'Inter', sans-serif !important;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
}
.add-assigne-box-field{
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 8px;
    padding-left: 12px;
    font-family: 'Inter', sans-serif !important;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 12px;
}
.input-height48{
    height: 48px;
}
.add-task-prio{
    display: flex;
}
.v-line{
    width: 0px;
    height: 424px;
    border: 1px solid #D1D1D1;
}
.btn-grp{
    display: flex;
    justify-content: space-between;
}
.priority-btn{
    width: 136px;
    height: 56px;
    border-radius: 10px;
    gap: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-style: none;
    transition-duration: 0.2s;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
    cursor: pointer;
}
.priority-btn:hover {
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.priority-btn.active {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
}

.priority-btn:focus {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
}

/* Entfernen der Standard-Fokusring-Stile */
.priority-btn:focus {
    outline: none;
}
.priority-button-medium:hover {
        box-shadow: 0 0 12px #ffd500;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .priority-button-medium.active {
        background-color: #ffd500;
        color: #fff;
        border: 2px solid #ffd500;
    }
    
    .priority-button-medium:focus {
        background-color: #ffd500;
        color: #fff;
        border: 2px solid #ffd500;
    }
    
    /* Entfernen der Standard-Fokusring-Stile */
    .priority-button-low:focus {
        outline: none;
    }

    .priority-button-low:hover {
        box-shadow: 0 0 12px #00ff44;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .priority-button-low.active {
        background-color: #00ff44;
        color: #fff;
        border: 2px solid #00ff44;
    }
    
    .priority-button-low:focus {
        background-color: #00ff44;
        color: #fff;
        border: 2px solid #00ff44;
    }
    
    /* Entfernen der Standard-Fokusring-Stile */
    .priority-button-low:focus {
        outline: none;
    }



.btn-img{
    width: 20px;
    height: 20px;
}
.creat-task-btn{
    width: 183px;
    height: 56px;
    background: url("assets/img/creat-task.svg") no-repeat 0;
    background-position: 20px 15px;
    background-color: #2A3647;
}
.clear-task-btn{
    outline: none;
    width: 110px;
    height: 56px;
    background: url("assets/img/clear-btn.svg") no-repeat 0;
    background-position: 20px 15px;
}
.add-task-btns{
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: absolute;
    top: 540px;
    width: 950px;
}
.board{
    display: flex;
    flex-direction: column;
    padding-left: 240px;
    gap: 60px;
    margin: 80px;
    max-width: 1300px;
}
.board-head{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.add-btn{
    width: 160px;
    height: 48px;
    background: url("assets/img/plus-big.svg") no-repeat 0;
    background-position: 20px 8px;
    background-color: #2A3647;
    cursor: pointer;
}
.add-btn-board{
    cursor: pointer;
}
.board-topic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}
.search{
    display: flex;
    width: 312px;
    height: 48px;
    position: relative;
}
.search input{
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-color:#fff; 
    display:block; 
    width: 100%; 
    box-sizing: border-box;
    padding-left: 15px;
}
.search input:focus{
    outline: none;
    border: 2px solid #29ABE2;
}
.search img{
    position: absolute; 
    top: 8px;
    right: 15px;
    cursor: pointer;
}
.board-cat{
    display: flex;
    flex-direction: column;
    width: 252px;

}
.board-card{
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px #00000014;
    width: 220px;
    padding: 16px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.board-card:hover{
    transform: rotate(5deg);
}

.full-board{
    display: inline-flex;
    gap: 24px;
    flex-wrap: wrap;
}
.no-tasks{
    background-color: #E7E7E7;
    width: 220px;
    border-radius: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px double #A8A8A8;
    color: #a8a8a8;
    box-shadow: 0px 0px 4px 0px #00000029;
}
.lable-board-card{
    background-color: #0038FF;
    color: white;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
}
.progress{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 10px;
}
#progress{
    width: 128px;
}
.icon-board{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
    font-size: 12px;
}
.icons{
    display: flex;
    gap: -15px;
}

.card-bottom{
    display: flex;
}
.contacts{
    display: flex;
    position: absolute;
    left: 232px;
}
.contacts-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    gap: 30px;
}
.contacts-right{
display: flex;
align-items: flex-start;
flex-direction: column;
padding-top: 100px;
padding-left: 80px;
}
.contact-better{
    font-size: 27px;
}
.contact-information-top{
display: flex;
align-items: center;
gap: 54px;
margin-top: 40px;
margin-bottom: 40px;
}
.edit-contact{
    margin-top: 5px;
    margin-right: 30px;
    width: 63px;
    height: 24px;
    transition-duration: 0.1s;
    background-image: url("assets/img/edit.svg");
    cursor: pointer;
}
.edit-contact:hover{
    background-image: url("assets/img/edit-2.svg");
}
.delete-contact{
    margin-top: 5px;
    margin-right: 30px;
    width: 81px;
    height: 24px;
    transition-duration: 0.1s;
    background-image: url("assets/img/delete.svg");
    cursor: pointer;
}
.delete-contact:hover{
    background-image: url("assets/img/delete-2.svg");
}
.contact-edit{
    display: flex;
}
.icon-contact{
    background-color: #FF7A00;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
}
.add-contact{
    width: 352px;
    height: 56px;
    background: url("assets/img/add-contact-big.svg") no-repeat 0 0;
    background-color:#2A3647;
    background-position: 80px 10px;
    margin-top: 40px;
}
.contact-side{
    width: 456px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 93vh;
    overflow-y: scroll;
}
.contact-list{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 352px;
}
.sign{
    padding: 17px 36px 17px 30px ;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 5px;
}
.contact-block{
    display: flex;
    gap: 35px;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;
}
.contact-block:hover{
    background-color: #dcdcdc;
}
.contact-block:hover .icon-board{
    border: 2px solid white;
}
.contact-mail{
    text-decoration: none;
    color: #007cee;
}
.mobile{
    display: none;
}

.assigned-to{
 background-color: white;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 width: 420px; 
 margin-right: 20px;
 cursor: pointer;
 height: 90px;
}
.assigned-to img{

}

.assignedContacts{
    background-color: white;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.assigneContact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
}

.assigneContact input{
    width: 30px;
    height: 30px;
}

.assigneContact:hover{
    background-color: #2A3647;
    color: white;
}

.display-none{
    display: none;
}

.circle-small{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2a3647;
    border-radius: 100%;
    width: 56px;
    height: 56px;
}
.circle-small p{
    color: #29ABE2;
    font-weight: 700;
}

.assigned-circle {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: -7px;
    /* Negative margin for overlap */
}

.assigned-circle-fullscreen {
    width: 42px !important;
    height: 42px !important;
}

.assigned-circle-txt {
    color: #FFF;
    text-align: center;

    /* Version 2/t7 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
}

.frame-assigned-circ {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    gap: -4px;
}

.assigned-name {
    display: flex;
    margin-left: 23px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}
.boarc-column{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .p-hello{
        display: none;
    }
    .p-hello-name{
        display: none;
    }
    .search-area{
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .header-title{
        display: none;
    }
    .sing-up{
        position: absolute;
        bottom: 150px;
        width: 100%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }

  }