<div class="full-board">
    <div class="board-cat" id="todo-column" ondrop="drop('To Do')" ondragover="allowDrop(event)">
        <div class="board-topic s20 fw700">
            <span>To do</span>
            <img class="add-btn-board" src="assets/img/plus-btn.svg" alt="">
        </div>
        <div class="kanban-card-display" id="todo-tasks">
        </div>

    </div>
    <div class="board-cat">
        <div class="board-topic s20 fw700">
            <span>In progress</span>
            <img class="add-btn-board" src="assets/img/plus-btn.svg" alt="">
        </div>
        

    </div>
    <div class="board-cat">
        <div class="board-topic s20 fw700">
            <span>Await feedback</span>
            <img class="add-btn-board" src="assets/img/plus-btn.svg" alt="">
        </div>
        <div class="board-card">
            <div><span class="lable-board-card">User Story</span></div>
            <div>
                <h3>Kochwelt Page & Recipe Recommander</h3>
            </div>
            <div><span>Build start page with recipe recommendation...</span></div>
            <div class="progress">
                <progress id="progress" value="50" max="100"></progress>
                <span>1/2 Subtask</span>
            </div>
            <div class="card-bottom">
                <div class="icons">
                    <div class="icon-board">SM</div>
                    <div class="icon-board">GG</div>
                </div>
                <img src="assets/img/prio-baja.svg" alt="">
            </div>
        </div>
    </div>
    <div class="board-cat">
        <div class="board-topic s20 fw700">
            <span>Done</span>
            <img class="add-btn-board" src="assets/img/plus-btn.svg" alt="">
        </div>
        <div class="board-card">
            <div><span class="lable-board-card">User Story</span></div>
            <div>
                <h3>Kochwelt Page & Recipe Recommander</h3>
            </div>
            <div><span>Build start page with recipe recommendation...</span></div>
            <div class="progress">
                <progress id="progress" value="50" max="100"></progress>
                <span>1/2 Subtask</span>
            </div>
            <div class="card-bottom">
                <div class="icons">
                    <div class="icon-board">SM</div>
                    <div class="icon-board">GG</div>
                </div>
                <img src="assets/img/prio-media.svg" alt="">
            </div>
        </div>
    </div>
</div>
</div>