<div class="desktop">
    <header class="MobiHead">
        <div class="MobileYes">
            <img src="assets\img\logo-dark.svg" alt="" style="height: 40px; padding: 15px 20px;">
        </div>
        <div>
            <p class="s24 header-title MobileNo">Kanban Project Management Tool</p>
        </div>
        <div class="header-right">
            <img src="assets/img/help.svg" alt="">
            <div class="circle" onclick="loadSubMenu(1)">
                <p id="actUser"></p>
            </div>
        </div>
        <div id="subMenu1" class="display-none sub-menu">
            <div>
                <div class="sub-link"><a href="impressum.html">Legal Notice</a></div>
                <div class="sub-link"><a href="datenschutzerkl.html">Privacy Policy</a></div>
                <div class="sub-link"><a href="./index.html">Log Out</a></div>
            </div>
        </div>
    </header>

    <nav class="MobileNo">
        <div>
            <img src="./assets/img/logo-light.svg" alt="">
        </div>
        <div class="nav-list">
            <div onclick="location.href='summary.html'" class="link">
                <img src="./assets/img/summary-icon.svg" alt="">
                <p>Summary</p>
            </div>
            <div onclick="location.href='add_task.html'" class="link">
                <img src="./assets/img/add-task-icon.svg" alt="">
                <p>Task</p>
            </div>
            <div onclick="location.href='board.html'" class="link">
                <img src="./assets/img/board-icon.svg" alt="">
                <p>Board</p>
            </div>
            <div onclick="location.href='contacts.html'" class="link">
                <img src="./assets/img/contacts-icon.svg" alt="">
                <p>Contacts</p>
            </div>
        </div>


        <div class="site-footer MobileNo">
            <a href="../datenschutzerkl.html">Privacy Policy</a>
            <a href="../impressum.html">Legal notice</a>
        </div>

    </nav>

    <nav class="MobileYes NavMob">
        <div class="nav-row">
            <div onclick="location.href='summary.html'" class="link">
                <img src="./assets/img/summary-icon.svg" alt="">
                <p class="FooTextMob">Summary</p>
            </div>
            <div onclick="location.href='add_task.html'" class="link">
                <img src="./assets/img/add-task-icon.svg" alt="">
                <p class="FooTextMob">Add Task</p>
            </div>
            <div onclick="location.href='board.html'" class="link">
                <img src="./assets/img/board-icon.svg" style="margin-bottom: 4px;"  alt="">
                <p class="FooTextMob">Board</p>
            </div>
            <div onclick="location.href='contacts.html'" class="link" >
                <img src="./assets/img/contacts-icon.svg" alt="">
                <p class="FooTextMob">Contacts</p>
            </div>
        </div>
    </nav>


</div>