<div class="desktop">
<header>
    <p class="s24 header-title">Kanban Project Management Tool</p>
    <div class="header-right">
        <img src="assets/img/help.svg" alt="">
        <div class="circle">
            <p id="actUser"></p>
        </div>
    </div>
    
</header>
<nav>
    <div>
        <img src="./assets/img/logo-light.svg" alt="">
    </div>
    <div class="nav-list">
        <div onclick="location.href='summary.html'" class="link" >
            <img src="./assets/img/summary-icon.svg" alt="">
            <p>Summary</p>
        </div>
        <div onclick="location.href='add_task.html'" class="link" >
            <img src="./assets/img/add-task-icon.svg" alt="">
            <p>Task</p>
        </div>
        <div onclick="location.href='board.html'" class="link" >
            <img src="./assets/img/board-icon.svg" alt="">
            <p>Board</p>
        </div>
        <div onclick="location.href='contacts.html'" class="link" >
            <img src="./assets/img/contacts-icon.svg" alt="">
            <p>Contacts</p>
        </div>
    </div>


    <div class="site-footer">
        <a href="">Privaci Policy</a>
        <a href="">Legal notice</a>
    </div>

</nav>
</div>