<div>

  <div class="content-header" id="task-header-temp">
    <h1 id="h1Task">Add Task</h1>
  </div>

  <form onsubmit="sendForm(); return false;" id="formTask">
    <div class="add-task s20" id="formElements">
      <div class="add-task-input-grp">
        <div class="add-task-box">
          <label for="taskTitle">Title<span style="color: red">*</span></label>
          <input class="add-task-box-field s20 input-height48" required type="text" placeholder="Enter a Title" name=""
            id="taskTitle" />
        </div>
        <div class="add-task-box">
          <label for="taskDescription">Description</label>
          <textarea class="add-task-box-field s20" id="taskDescription" rows="4"
            placeholder="Enter a Description"></textarea>
        </div>
        <div class="add-task-box" style="z-index: 999;">
          <label for="dropdown" class="form-label label-in-txt">Assigned to</label>
          <div id="headerAssigne" onclick="showContacts()" class="add-task-box-field">
            <p>Select contacts to assign</p>
            <img src="assets/img/arrow-down.svg" alt="">
          </div>
          <div id="assignedContacts" class="assignedContacts display-none"></div>
        </div>
        <div id="assinedPersons" style="all: unset; display: flex;"></div>
      </div>
      <div class="v-line" id="vLine"></div>
      <div class="add-task-input-grp">
        <div class="add-task-box">
          <label for="dueDate">Due date<span style="color: red">*</span></label>
          <input required type="date" id="dueDate" name="date" class="add-task-box-field s20 input-height48 iput-date"
            placeholder="dd/MM/yyyy" />
        </div>
        <div class="input-box add-task-box">
          <label for="prio-btngroup" class="form-label label-in-txt">Prio</label>
          <div class="btn-grp" id="prio-btngroup">
            <button type="button" class="priority-btn s20" tabindex="0" id="urgentBtn" onclick="selectPriority(id)">
              <a style="text-decoration: none; color: black">Urgent</a>
              <img class="btn-img" src="assets/img/prio-alta.svg" alt="" />
            </button>
            <button type="button" class="priority-btn priority-button-medium s20" tabindex="1" id="mediumBtn"
              onclick="selectPriority(id)">
              <a style="text-decoration: none; color: black">Medium</a>
              <img class="btn-img" src="assets/img/prio-media.svg" alt="" />
            </button>
            <button type="button" class="priority-btn priority-button-low s20" tabindex="2" id="lowBtn"
              onclick="selectPriority(id)">
              <a style="text-decoration: none; color: black">Low</a>
              <img src="assets/img/prio-baja.svg" alt="" />
            </button>
            <input type="hidden" name="priority" id="priority-input" />
          </div>
        </div>
        <div class="add-task-box custom-select">
          <label for="taskCategory">Category<span style="color: red">*</span></label>
          <select required class="add-task-box-field s20 input-height48" placeholder="Select task category"
            name="category" id="taskCategory">
            <option value="select Category">select Category</option>
            <option value="To Do">To Do</option>
            <option value="In progress">In progress</option>
            <option value="Await feedback">Await feedback</option>
            <option class="display-none" id="doneSelect" value="Done">Done</option>
          </select>
        </div>
        <div class="add-task-box">
          <label for="subtask">Subtasks</label>
          <div class="input-subtask">
            <input id="subtask" type="text" placeholder="Add new subtask" />
            <img class="input-subtask-img" src="assets/img/add-subtask.svg" onclick="addSubtask()" alt="" srcset="">
          </div>
          <div id="addSubtask">

          </div>
        </div>
      </div>
    </div>
    <div class="add-task-btns">
      <div>
        <span style="color: red">*</span><span>This field is required</span>
      </div>
      <div class="gap16">
        <input onclick="clearTaskForm();" id="claer" class="btn-seconday-wo-icon clear-task-btn s20 fw400" type="button"
          value="" />
        <input class="dark-btn creat-task-btn s21 fw700" type="submit" id="submitTask" value="" />
        <input class="dark-btn save-edit-btn display-none s21 fw700" type="submit" id="submitEditTask" value="" />
      </div>
    </div>
  </form>

</div>